<div class="container">
    <div class="row mt-2">
        <div class="col col-md-4 offset-md-4">
          <a class="btn btn-primary" routerLink="/books/add">Add Book</a>
        </div>
      </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Available</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of allBooks">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.available }}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/books/update', item.id]">Edit</a>
                <button type="button" (click)="openDeleteModal(item.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Warning!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to remove the book?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>